In [ ]:
NOTE TO GRADER:  I KNOW THIS

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

In [2]:
# check data
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# purchase_data_df.count()

In [4]:
# Total Number of Players 
Player_Count=len(purchase_data_df["SN"].unique())
Player_Count

# Put player count into table
Tot_Pl_dict = {"Total Player": [Player_Count]}
Tot_Pl_dict_2 = pd.DataFrame(Tot_Pl_dict)
Tot_Pl_dict_2

   Total Player
0           576

In [5]:
purchase_data_df["SN"].count()

780

In [6]:
# Number of Unique Items
purchase_items=len(purchase_data_df["Item ID"].unique())
purchase_items

183

In [7]:
# Average Purchase Price
Average_Purchase_Price=purchase_data_df["Price"].mean()
Average_Purchase_Price

3.050987179487176

In [8]:
# Total Number of Purchases
Total_Num_Purchases=purchase_data_df["Purchase ID"].count()
Total_Num_Purchases

780

In [9]:
# Total Revenue
Total_Rev=purchase_data_df["Price"].sum()
Total_Rev

2379.77

In [10]:
Pur_Any_dict = {"Number of Unique Items": [purchase_items],
                "Average Price": [Average_Purchase_Price],
                "Number of Purchases": [Total_Num_Purchases],
                "Total_Revenue": [Total_Rev]}
Pur_Any_dict_2 = pd.DataFrame(Pur_Any_dict)
Pur_Any_dict_2

   Number of Unique Items  Average Price  Number of Purchases  Total_Revenue
0                     183       3.050987                  780        2379.77

In [11]:
total_genders = len(purchase_data_df["SN"].unique())
total_genders

576

In [12]:
unique_players_df=purchase_data_df.drop_duplicates("SN")

In [13]:
# total_genders=unique_players_df["Gender"].value_counts()
male = unique_players_df["Gender"].value_counts()['Male']
female = unique_players_df["Gender"].value_counts()['Female']
other = unique_players_df["Gender"].value_counts()['Other / Non-Disclosed']
print(f" Total male - {male}")
print(f" Total female - {female}")
print(f" Total Other / Non-Disclosed - {other}")
# print(f" Total:\n {total_genders} \n Male: {male}\n Female:{female}\n non_specfic: {other}")

 Total male - 484
 Total female - 81
 Total Other / Non-Disclosed - 11

In [14]:
# Calculate percentage of respondents belonging to each gender
male_percent = (male/Player_Count)
print(male_percent)

0.8402777777777778

In [15]:
# Calculate percentage of respondents belonging to each gender
female_percent = (female/Player_Count)
print(female_percent)

0.140625

In [16]:
# Calculate percentage of respondents belonging to each gender
other_percent = (other/Player_Count)
print(other_percent)

0.019097222222222224

In [17]:
# Percentage and Count of Male Players
# purchase_data_df["Gender"].value_counts()
unique_players_df["Gender"].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [18]:
Gender_Demographics = {"Gender":["Male", "Female", "Other / Non-Disclosed"],
                       "Total Count": [male, female, other],
                       "Percentage of Players": [male_percent, female_percent, other_percent]}
Gender_Demographics2 = pd.DataFrame(Gender_Demographics)
gender_summary_df = Gender_Demographics2.set_index("Gender")
# Gender_Demographics2.reset_index(drop=True)
# Gender_Demographics2.set_index("Gender")
gender_summary_df

                       Total Count  Percentage of Players
Gender
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [19]:
# Purchasing Analysis (Gender)
male_Tot_Pur = purchase_data_df["Gender"].value_counts()['Male']
female_Tot_Pur = purchase_data_df["Gender"].value_counts()['Female']
other_Tot_Pur = purchase_data_df["Gender"].value_counts()['Other / Non-Disclosed']
print(f" Total male - {male}")
print(f" Total female - {female}")
print(f" Total Other / Non-Disclosed - {other}")

 Total male - 484
 Total female - 81
 Total Other / Non-Disclosed - 11

In [20]:
# unique_players_df=purchase_data_df.drop_duplicates("SN")
# unique_players_df.head()

In [21]:
# # Genders=unique_players_df["Gender"].count()
# unique_players_df.groupby("Gender").count()

In [22]:
# Purchase Count by Gender
Gender_Pur=purchase_data_df.groupby("Gender")["SN"].count()
Gender_Pur

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: SN, dtype: int64

In [23]:
# Average Price by Gender
Gender_Price=purchase_data_df.groupby("Gender")["Price"].sum()/Gender_Pur
Gender_Price

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [24]:
# Sum by Gender
Gender_Sum=purchase_data_df.groupby("Gender")["Price"].sum()
Gender_Sum

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [25]:
# Purchasing Analysis (Gender)
Purchasing_Analysis_Gender = {"Purchase Count": Gender_Pur, 
                              "Average Purchase Price": Gender_Price, 
                              "Total Purchase Value": Gender_Sum}
Purchasing_Analysis_Gender_df = pd.DataFrame(Purchasing_Analysis_Gender)
Purchasing_Analysis_Gender_df

,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,,,
Female,113,3.203009,361.94
Male,652,3.017853,1967.64
Other / Non-Disclosed,15,3.346000,50.19

In [26]:
# Create bins and bin labels for the age
age_bins = [0,9,14,19,24,29,34,39,46]
age_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34","35-39", "+40"]
pd.cut(purchase_data_df["Age"], age_bins, labels=age_labels).count()

780

In [27]:
# We can append our bins to purchase_data_df
purchase_data_df["Age Brackets"] = pd.cut(purchase_data_df["Age"], age_bins, labels=age_labels)
# purchase_data_df.head()

In [28]:
# Group by age bins by
len(purchase_data_df["SN"].unique())
# age_purchase_data_df = purchase_data_df.groupby("Age Brackets")

576

In [29]:
# deleting the repeats
# age_brackets_df=len(purchase_data_df["SN"].unique())
# age_brackets_df

In [30]:
purchase_data_df.groupby("Age Brackets")["Price"].count()

Age Brackets
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
+40       13
Name: Price, dtype: int64

In [31]:
spending_df = purchase_data_df.groupby("Age Brackets")
spending_df[["Price", "Item ID","Gender"]].mean()

                 Price     Item ID
Age Brackets
<10           3.353478  105.956522
10-14         2.956429  103.107143
15-19         3.035956   94.102941
20-24         3.052219   88.797260
25-29         2.900990   90.554455
30-34         2.931507   94.178082
35-39         3.601707  100.902439
+40           2.941538   89.076923